.breadcrumb {
  display: flex;
  align-items: center;

  &-link {
    margin: 0 6px;

    a {
      @extend .txt-s;
      color: rgba($primary, 0.3);
      transition: all 0.5s ease-in-out;
      &:hover {
        color: rgba($primary, 1);
      }
    }
  }

  .slash {
    color: rgba($primary, 0.3);
  }
}
