.page-section {
  display: grid;
  grid-template-columns: calc(255 / 1200) * 100% auto;
  @include media-breakpoint-down(lg) {
    grid-template-rows: auto auto;
    grid-template-columns: inherit;
  }

  .CreatePost &,
  .PostPreview &,
  .EditPost & {
    display: block;
  }
}

.page-content {
  padding-left: 3px;
  margin-left: calc(70 / 939) * 100%;
  @include media-breakpoint-down(lg) {
    margin-left: unset;
  }
}
