body {
  background-color: $body-bg;
  font-family: $FiraSans;
}

.web_wrapper {
  position: relative;
  padding-top: 96px;
  padding-left: 96px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: 3px;
  padding: 5px;
}
