body {
  @extend %base-text-style;
  background-color: $body-bg;
}

.web_main {
  position: relative;
}

.web_wrapper {
  position: relative;
  padding-top: $header_h-desktop * 1px;
  padding-right: $aside_w-desktop * 1px;
  padding-bottom: $footer_h-desktop * 1px;
  @include media-breakpoint-down(lg) {
    padding-top: $header_h-pad * 1px;
    padding-right: $aside_w-pad * 1px;
    padding-bottom: $footer_h-pad * 1px;
  }
  @include media-breakpoint-down(md) {
    padding-top: $header_h-pad * 1px;
    padding-right: initial;
    padding-bottom: $footer_h-pad * 1px;
  }
  &.login {
    padding-top: initial;
    padding-right: initial;
    padding-bottom: initial;
    min-height: 100vh;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      padding-top: $header_h-pad * 1px;
      padding-bottom: $footer_h-pad * 1px;
    }
  }
}

// Custom container
.page-container {
  @include make-container();
  @media (min-width: 375px) {
    max-width: 91.4%;
  }
  @media (min-width: 768px) {
    max-width: 89.5%;
  }
  @media (min-width: 1280px) {
    //max-width: 1176px;
    max-width: 1200px;
  }
}

.mainContent {
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: calc(100vh - $header_h-desktop * 1px - $footer_h-desktop * 1px);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}
