/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
*/

// Color
$primary: #0000b8;
$secondary01: #040479;
$secondary02: #eceffc;
$secondary03: #eceffc;
$gray01: #1a1a1a;
$gray02: #5c5c5c;
$gray03: #8f8f8f;
$gray04: #dbdbdb;
$gray05: #f5f5f5;
$black: #000000;
$white: #ffffff;
$alert: #cb4042;

// Text
$base-font-size: 16;
$txt-size: (
  "h1": 46,
  "h2": 30,
  "h3": 20,
  "h4": 18,
  "h5": 14,
  "p": 14,
  "s": 12,
);

// Font
$NotoSansTC: "Noto Sans TC", sans-serif;
$NotoSerifTC: "Noto Serif TC", serif;
@import url("https://fonts.cdnfonts.com/css/arial");
$Arial: Arial, Helvetica, sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");
$CormorantFont: "Cormorant Garamond", serif;

// Body
//$body-bg: #1e2127;
$body-bg: $white;
$body-color: $primary;
// $body-text-align: null !default;

// Grid breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container-max-widths: (
  xs: 91.4%,
  md: 89.5%,
  xl: 1288px,
);

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-row-columns: 6;

// Components
$btn-padding-y: 12px;
$btn-padding-x: 32px;
$input_w: 494px;
// Components - Post
$post-card-img_h: 229.5;
$post-card-img_w: 408;

// Layout
$mainPage_pt-desktop: 63;
$mainPage_pb-desktop: 63;
$mainPage_pt-pad: 40;
$mainPage_pb-pad: 40;
$header_h-desktop: 90;
$header_h-pad: 90;
$aside_w-desktop: 88;
$aside_w-pad: 88;
$footer_h-desktop: 90;
$footer_h-pad: 90;
$menu_top-desktop: 112;
$menu_top-pad: 88;
//$aside_proportion: 21.75;
$aside_proportion: 17.5;

$super_zIndex: 99999;
$bg_zIndex: 100;
$menu_zIndex: 150;
$webNav_zIndex: 101;
$header_zIndex: 99;
$aside_zIndex: 98;
$footer_zIndex: 97;
$login_zIndex: 101;
// Typography

// Easing
// Reference form: https://easings.net
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
